/* App.css */

html {
  margin: 0 auto;
  max-width: 1440px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* White background */
  max-width: 1440px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

header img {
  margin-left: 36px;
}

.logo {
  height: 143px;
}

nav {
  margin-right: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color:#6a0dad;
  font-size: 25px;
  padding-left: 26px;
  position: relative;
  top: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

nav a::after {
  content: "";
  position: absolute;
  left: 25px;
  bottom: -8px;
  width: 70%;
  height: 2px;
  background-color: #6a0dad;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1); /* Étend la ligne à 100% de la largeur du lien au survol */
}

.separator {
  background-color: #5d18e8;
  height: 2px;
  margin: 0px auto;
  opacity: 0.7;
  width: 98%;
  position: relative;
}

.banner {
  padding-top: 200px;
  margin-top: -200px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;
  bottom: 20px;
}
.banner img {
 width: 100%;
}

.about-section {
  display: flex;
  align-items: center;
  background: aliceblue;
  box-sizing: border-box;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-top: 200px;
  margin-top: -200px;
}

.aboutcontainer {
  display: flex;
  justify-content: center;
  background: aliceblue;
  padding: 0px 120px;
  padding-bottom: 160px;
  padding-top: 140px;
  box-sizing: border-box;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.about-section div {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
}

.about-section p {
  max-height: 400px;
}

.about-section img.audrey1 {
  margin-right: 78px;
  height: 47vh;
  border-radius: 75px; 
}

.contact-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-image:url(./assets/contact.webp) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.contacttext {
  position:absolute;
  right: 350px;
  text-align: center;
}

.contacttext p {
  color: black;
}

.contactimg {
  width: 100%;
}

.contact-section h2 {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: .4px;
  color: black;
  text-decoration-line: underline;
  position: relative;
  bottom: 50px;
}

.rdv {
  border-radius: 75px;
  background-color: lightslategray;
  color: white !important;
  padding: 20px;
}

.contact-section p {
  font-size: 25px;
  line-height: 30px;
  margin: 60px 0px;
}

.contact-section i {
  margin-right: 24px;
}

.contact-section a {
  text-decoration: none;
  color: black;
  font-size: 36px;
  line-height: 51px;
  transition: transform 0.3s ease;
}

.rdv:hover {
  transform: scaleX(1.1) !important;
  font-size: 37px;
}

.fa-brands {
  font-size: 50px;
  transition: transform 0.3s ease;
}

.fa-brands:hover {
  transform: scaleX(1.1)
}

h2, p {
    color: #6a0dad;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    text-transform: initial;
    line-height: 25px;
}

.services-section {
  padding-top: 10px;
  margin-top: -10px;
  background: whitesmoke;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services-section img {
  width: 63vw;
  position: relative;
  top: 12vw;
}

.services-section h2 {
  margin-top: 300px;
  position: relative;
  bottom: 59vw;
  left: 4vw;
}

.services-section p {
  width: 40%;
  text-align: justify;
  position: relative;
  bottom: 54vw;
  left: 5vw;
}

.tarifs-section {
  background-image:url(./assets/test4.webp) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  margin-top: -200px;
  padding-bottom: 160px;
}

.tarifs-section h2 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 75px;
  color: white;
  width: 250px;
  padding: 20px;
  margin-bottom: 75px;
  text-transform: uppercase;
  line-height: 36px;
}

.tarifs-section ul {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: .4px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 75px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarifs-section li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-transform: initial;
  line-height: 25px;
  list-style: none;
  padding: 10px;
  color: white;
  font-size: 21px;
  margin: 5px 0px;
}

.pack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 200px;
  margin-bottom: 150px;
}

.pack ul {
  height: 520px;
  margin: 45px;
}

.consult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 270px;
}

.consult ul {
  height: 290px;
  margin: 35px;
  width: 22%;
}

.consult li {
  margin: 20px 0px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 21px;
  text-align: justify;
}

.avis-section {
  background-image: url(./assets/avis2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 340px;
  margin-top: -340px;
  height: 700px;
  justify-content: center;
  padding-bottom: 340px;
}

.aviscontainer {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.avis-section h2 {
  border-radius: 17px;
  background-color: rgb(255 255 255 / 70%);
  color: black;
  padding: 20px;
  position: relative;
  bottom: 75px;
}

.fa-user {
  padding-right: 6px;
}

.avis-section ul {
  border-radius: 27px;
  background-color: rgb(255 255 255 / 70%);
  color: black;
  height: 80%;
    margin: 35px;
    width: 100%;
    padding: 30px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    text-transform: initial;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avis-section li {
  font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    text-transform: initial;
    line-height: 23px;
    list-style: none;
    padding: 15px;
    color: black;
    font-size: 21px;
    text-align: center;
}

footer {
  text-align: center;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: black;
  margin: 0px 20px;
}

@media (max-width: 1919px) {
.services-section p {
  bottom: 58vw;
}
}

@media (max-width: 1760px) {
  nav ul li a {
    font-size: 21px;
  }
  .about-section p {
    font-size: 19px;
  }
  .about-section h2 {
    font-size: 26px;
  }
  .services-section p {
    bottom: 62vw;
    font-size: 19px;
  }
  .services-section h2 {
    bottom: 62vw;
    font-size: 28px;
  }
  .tarifs-section ul {
    font-size: 20px;
  }
  .tarifs-section li {
    font-size: 17px;
  }
  .tarifs-section h2 {
    font-size: 22px;
  }
  .consult ul {
    margin: 20px;
  }
  .contacttext {
    right: 240px;
  }
  .contact-section a {
    font-size: 25px;
  }
  .rdv:hover {
    font-size: 26px;
  }
  .contact-section p {
    font-size: 22px;
  }
  .fa-brands {
    font-size: 45px;
  }
  }

  @media (max-width: 1590px) {
    .services-section p {
      bottom: 91vw;
      font-size: 19px;
      width: 59%;
  }
  .services-section h2 {
    bottom: 89vw;
    font-size: 25px;
}
.services-section img {
  width: 100vw;
  position: relative;
  top: 15vw;
}
.tarifs-section li {
  line-height: 16px;
}
.tarifs-section ul {
  margin: 20px;
  height: 557px;
}
.consult ul {
  height: 387px;
}
.avis-section h2 {
  font-size: 25px;
}
.avis-section li {
  font-size: 17px;
}
.contacttext {
  right: 138px;
}
.contact-section a {
  font-size: 21px;
}
.rdv:hover {
  font-size: 22px;
}
.contact-section p {
  font-size: 19px;
  margin: 25px 0px;
}
.fa-brands {
  font-size: 38px;
}
  }

@media (max-width: 1180px) {
  .logo {
    height: 100px;
  }
  nav ul li a {
    font-size: 15px;
    padding-left: 2px;
  }
  nav a::after {
    left: 7px;
  }
  .about-section img.audrey1 {
    margin-right: 30px;
    height: 25vh;
    top: 143px;
    position: relative;
  }
  .about-section h2 {
    font-size: 20px;
  }
  .about-section p {
    font-size: 15px;
    width: 92%;
  }
  .aboutcontainer {
    padding: 0px 11px;
  }
  .services-section {
    margin-bottom: -454px;
  }
  .services-section img {
    width: 149vw;
    position: relative;
    top: 15vw;
    right: 122px;
    overflow: hidden;
  }
  .services-section p {
    bottom: 129vw;
    font-size: 17px;
    width: 84%;
    left: -28px;
}
.services-section h2 {
  bottom: 134vw;
  font-size: 22px;
  left: -45px;
}
.tarifs-section ul {
  margin: 5px;
    height: 600px;
    font-size: 16px;
}
.pack {
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.pack ul {
  width: 100%;
}
.consult {
  flex-direction: column;
  width: 100%;
}
.tarifs-section ul {
  width: 100%;
  height: 100%;
}
.tarifs-section li {
  font-size: 15px;
}
.tarifs-section h2 {
  font-size: 18px;
}
.avis-section h2 {
  font-size: 18px;
}
.avis-section ul {
  margin: 10px;
  height: 86%;
}
.avis-section li {
  font-size: 15px;
}
}

@media (max-width: 1000px) {
  .services-section p {
    bottom: 143vw;
    font-size: 15px;
    width: 84%;
    left: -30px;
}
.services-section h2 {
  bottom: 143vw;
  font-size: 20px;
  left: -58px;
}
.aboutcontainer {
  padding-bottom: 40px;
}
.aviscontainer {
  flex-direction: column;
}
.avis-section h2 {
  bottom: 30px;
}
.avis-section li {
  padding: 8px;
}
.contact-section a {
  font-size: 17px;
}
.rdv:hover {
  font-size: 18px;
}
.contact-section p {
  font-size: 16px;
  margin: 10px 0px;
}
.contact-section i {
  font-size: 18px;
}
footer {
  margin-top: -35px;
}
footer a {
  font-size: 14px;
}
}

@media (max-width: 710px) {
  .logo {
    height: 42px;
    margin-left: 0px;
    }
  nav ul li a {
    font-size: 12px;
    padding-left: 3px;
    position: relative;
    top: -10px;
    left: 38px;
  }
  .aboutcontainer {
    padding-bottom: 34px !important;
    padding: 0px 1px;
  }
  .about-section {
    height: 875px;
  }
  .about-section img.audrey1 {
    height: 10vh;
    margin-right: 10px;
  }
  .about-section h2 {
    font-size: 16px;
    line-height: 4px;
  }
  .about-section p {
    font-size: 14px;
    line-height: 14px;
    width: 98%;
  }
  nav ul li {
    margin-right: 7px;
  }
  .services-section p {
    bottom: 167vw;
    font-size: 14px;
    width: 84%;
    left: -30px;
}
.services-section h2 {
  bottom: 164vw;
  font-size: 20px;
  left: -58px;
}
}

@media (max-width: 570px) {
.services-section h2 {
  bottom: 175vw;
  left: -40px;
  }
.services-section img {
right: 85px;
  }
.services-section p {
  bottom: 179vw;
  left: -17px;
  line-height: 14px;
}
.services-section {
  margin-bottom: -682px;
}
.contact-section a {
  font-size: 14px;
  line-height: 80px;
}
.rdv {
  padding: 16px;
}
.rdv:hover {
  font-size: 15px;
}
.contact-section p {
  font-size: 14px;
  margin: 5px 0px;
  line-height: 9px;
}
.contact-section i {
  font-size: 14px;
}
.contacttext {
  right: 70px;
}
.contactimg {
  height: 245px;
}
.rdv {
  line-height: 51px;
}
.fa-brands {
  position: relative;
  bottom: 20px;
}
footer {
  margin-top: -43px;
}
footer a {
  font-size: 11px;
}
}

@media (max-width: 450px) { 
  .services-section h2 { 
    bottom: 215vw;
    font-size: 17px;
  }
  .services-section p { 
    bottom: 215vw;
    left: 0px;
    width: 88%;
  }
  .services-section img {
    width: 178vw;;
      }
  .avis-section {
    height: 1600px;
  }
  .fa-brands {
    font-size: 20px !important;
  }
}

@media (max-width: 376px) { 
  .services-section h2 { 
    bottom: 228vw;
    font-size: 17px;
  }
  .services-section p { 
    bottom: 230vw;
    left: -6px;
    width: 88%;
  }
  .services-section img {
    width: 178vw;;
      }
}

@media (max-width: 370px) {
  .services-section img {
    right: 59px;
    width: 219vw;
   }
   .services-section h2 {
    bottom: 279vw;
    font-size: 17px;
    left: -21px;
   }
   .services-section p {
    bottom: 284vw;
    left: -6px;
    width: 91%;
   }
   .contacttext {
    right: 21px;
   }
   .contact-section p {
    width: 276px;
   }
   .contact-section i {
    margin-right: 11px;
   }
   footer a {
    margin: 0px 6px;
    font-size: 10px;
   }
 }